# OUTLAND — VERDA WORLD

[world]
name=Verda
width_meters=8000
height_meters=8000
sea_level=0

[origin]
x=0
z=0

[regions]
training_region_x=4000
training_region_z=6100

espera_x=4000
espera_z=5600

capital_x=5150
capital_z=3500

airport_x=2750
airport_z=4700

industrial_port_x=6100
industrial_port_z=5200

military_zone_x=1800
military_zone_z=2300

[map]
texture_size=2048
minimap_size=256
north_up=true
